/* ---------- VARIABLES | COLORS ---------- */
/* ---------- HEADER ---------- */
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;700&display=swap");
header {
  padding: 0.6em 0.6em; }

.navbar-nav {
  text-align: right; }

.logo-header {
  width: 100%;
  max-width: 100px;
  max-height: 84px;
  transition: transform .2s; }
  .logo-header:hover {
    transform: scale(1.1); }

.nav-link {
  text-transform: uppercase;
  transition: transform .2s; }
  .nav-link:hover {
    transform: scale(1.1);
    color: #000000; }

.active {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), 3px 3px 8px rgba(0, 0, 0, 0.19); }

/* ---------- FOOTER ---------- */
footer {
  padding: 0.6em 0.6em; }
  footer section {
    padding: 1em 0; }
  footer img {
    width: 100%;
    max-width: 180px;
    height: auto;
    transition: transform .2s; }
    footer img:hover {
      transform: scale(1.1); }

.social-media-title,
.footer-menu {
  text-align: center; }

.footer-menu li {
  transition: transform .2s; }
  .footer-menu li:hover {
    transform: scale(1.1);
    color: #000000; }

.social-media-link {
  display: flex;
  flex-direction: row;
  align-items: flex-end; }
  .social-media-link li {
    margin: 0.8em -1em;
    transition: transform .2s; }
    .social-media-link li:hover {
      transform: scale(1.3);
      color: #000000; }

.icon-footer {
  font-size: 1.8em; }

/* ---------- HERO ---------- */
.carousel {
  margin: 0 1em; }

.carousel-title {
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 4em;
  font-weight: 640; }

/* ---------- NOVEDADES ---------- */
section h2 {
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase; }

section.news {
  text-align: center; }

section.news .news-img {
  margin: 0 1em; }

section.news img {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center; }
  section.news img:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

section .cta-news {
  border-style: solid;
  margin: 0.8em 0 0.8em 0; }

.img-news-section {
  margin: 1.5em 0 0 0;
  padding: 0 1em; }

.img-news-section img {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center; }
  .img-news-section img:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.news-title {
  font-size: 3em; }

.news-title-section {
  margin: 0.3em 0 0 0; }

/* ---------- PRODUCTOS ---------- */
.container-products {
  margin: 0 0 1em 0; }

.products {
  border: 1px;
  margin: 0 0.4em;
  transition: 0.3s; }
  .products img {
    width: 100%;
    max-width: 250px;
    height: auto;
    margin: 1em 0 0 0;
    transition: transform .2s; }
    .products img:hover {
      transform: scale(1.1);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.title-products {
  padding: 0.5em 0;
  margin: 0 0;
  text-align: center;
  text-transform: uppercase; }

.price-products {
  padding: 0 0 0.5em 0;
  margin: 0 0;
  text-align: center;
  text-transform: uppercase; }

.txt-products {
  text-align: center;
  text-transform: uppercase; }
  .txt-products h2 {
    padding: 0.5em 0;
    font-size: 1.6rem; }
  .txt-products a {
    font-size: 1rem;
    margin: 0 0 0.5em 0; }

/* ---------- NOSOTROS ---------- */
.us-title {
  text-align: center; }

.custom-us {
  padding: 0 0; }

.custom-box {
  margin: 0 0; }

.paragraph-us {
  margin: 0 1em 0.8em 1em;
  text-align: center;
  text-justify: inter-word; }

/* ---------- TEXTS ---------- */
.pages-titles {
  margin: 0.5em 0; }

.long-text {
  display: flex;
  flex-direction: column; }

.info-subtitles {
  margin: 1em 0;
  font-size: 1.5em; }

.paragraph {
  margin: 0 2em 1em 2em;
  text-align: center;
  text-justify: inter-word; }

/* ---------- ASSETS ---------- */
.cta {
  display: inline-block;
  width: fit-content;
  padding: 0.75em 1.5em;
  border-radius: .4em;
  font-weight: 500;
  background: #E6AE40;
  color: #000000;
  border: 1px solid #F0ECEB;
  text-transform: uppercase;
  text-decoration: none; }
  .cta:hover {
    background: rgba(230, 174, 64, 0.7);
    color: #000000;
    border: 1px solid #F0ECEB;
    text-decoration: none; }

.link-gina {
  font-weight: 500;
  color: #000000;
  text-decoration: none; }

/* ---------- RESET ---------- */
* {
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  color: #000000; }

html {
  font-size: 16px;
  font-family: 'Cabin', sans-serif; }
  html body {
    position: relative;
    min-height: 100vh;
    background: #F0ECEB; }
    html body header {
      background: rgba(230, 174, 64, 0.7); }
    html body footer {
      background: rgba(220, 106, 38, 0.7); }
    html body h1 {
      font-size: 3rem;
      text-transform: uppercase; }
    html body h2 {
      font-size: 1.8rem; }
    html body h3 {
      font-size: 1.5rem; }
    html body li, html body a {
      font-size: 1.3rem;
      padding: 0 1em; }

/* ---------- OTHER ---------- */
.center {
  text-align: center; }

/* ---------- MEDIA QUERIES ---------- */
@media screen and (max-width: 992px) {
  .carousel-title, .news-title, .news-title-section, .pages-titles {
    font-size: 2.3em; } }
