/* ---------- FOOTER ---------- */

footer {
    padding: 0.6em 0.6em;

    section {
        padding: 1em 0;
    }

    img {
        width: 100%;
        max-width: 180px;
        height: auto;
        transition: transform .2s;

        &:hover {
            transform: scale(1.1);
        }

    }

}

.social-media-title,
.footer-menu {
    text-align: center;
}

.footer-menu li {
    transition: transform .2s;
    
    &:hover {
        transform: scale(1.1);
        color: $black-color;
    }

}

.social-media-link {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    li {
        margin: 0.8em -1em;
        transition: transform .2s;
    
        &:hover {
            transform: scale(1.3);
            color: $black-color;
        }

    }

}

.icon-footer {
    font-size: 1.8em;
}