/* ---------- FOOTER ---------- */

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.6em 0.6em;
    grid-area: footer;

    section {
        padding: 1em 0;
    }

    img {
        width: 100%;
        max-width: 180px;
        height: auto;
    }

}

.social-media-title,
.footer-menu {
    text-align: center;
}

.social-media-link {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    li {
        margin: 0.8em 0;
    }

}

.icon-footer {
    font-size: 1.8em;

    &:hover {
        background: $light-orange-color;
        color: $black-color;
        border: 1px solid $white-color;
    }

}