/* ---------- GRID ---------- */

.container-grid {
    grid-area: main;
    display: grid;
    justify-content: center;
    grid-template-areas:
        "title"
        "first-row"
        "second-row"
        "third-row"
        "fourth-row";
}

.us-title {
    grid-area: title;
    // display: flex;
    // justify-content: center;
}

// .us-first-row {
//     grid-area: first-row;
//     display: flex;
//     justify-content: center;
//     margin-bottom: 2em;
// }

// .us-second-row {
//     grid-area: second-row;
//     display: flex;
//     justify-content: center;
//     margin-bottom: 2em;
// }

.us-text-left {
    grid-area: first-row;
    // max-width: 50%;
    // text-align: justify;
}

.img-right {
    grid-area: second-row;
    display: flex;
    flex-direction: row;
    max-width: 50%;
}

.img-left {
    grid-area: fourth-row;
    display: flex;
    flex-direction: row;
    max-width: 50%;
}

.us-text-right {
    grid-area: third-row;
    // max-width: 50%;
    // text-align: justify;
}