/* ---------- HEADER ---------- */

header {
    padding: 0.6em 0.6em;
}

.navbar-nav {
    text-align: right;
}

.logo-header {
    width: 100%;
    max-width: 100px;
    max-height: 84px;
    transition: transform .2s;

    &:hover {
        transform: scale(1.1);
    }

}

.nav-link {

    text-transform: uppercase;
    transition: transform .2s;

    &:hover {
        transform: scale(1.1);
        color: $black-color;
    }

}

.active {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), 3px 3px 8px rgba(0, 0, 0, 0.19);
}