/* ---------- NOSOTROS ---------- */

.us-title {
    text-align: center;
}

.custom-us {
    padding: 0 0;
}

.custom-box {
    margin: 0 0;
}

.paragraph-us {
    margin: 0 1em 0.8em 1em;

    text: {
        align: center;
        justify: inter-word;
    }

}