/* ---------- VARIABLES | COLORS ---------- */

$white-color: #F0ECEB;
$yellow-color: #F3E0AE;
$brown-color: #E6AE40;
$light-brown-color: rgba(230, 174, 64, 0.7);
$orange-color: #DC6A26;
$light-orange-color: rgba(220, 106, 38, 0.7);
$black-color: #000000;