@import "variables";
@import "header";
@import "footer";
@import "hero";
@import "novedades";
@import "products";
@import "nosotros";
@import "texts";
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;700&display=swap');

/* ---------- ASSETS ---------- */

.cta {
    display: inline-block;
    width: fit-content;
    padding: 0.75em 1.5em;
    border-radius: .4em;
    font-weight: 500;
    background: $brown-color;
    color: $black-color;
    border: 1px solid $white-color;

    text: {
        transform: uppercase;
        decoration: none;
    }

    &:hover {
        background: $light-brown-color;
        color: $black-color;
        border: 1px solid $white-color;
        text-decoration: none;
    }

}

.link-gina {
    font-weight: 500;
    color: $black-color;
    text-decoration: none;
}

/* ---------- RESET ---------- */

* {
    margin: 0;
    padding: 0;
    color: inherit;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    color: $black-color;
}

html {

    font: {
        size: 16px;
        family: 'Cabin', sans-serif;
    }

    body {
        position: relative;
        min-height: 100vh;
        background: $white-color;

        header {
            background: $light-brown-color;
        }

        footer {
            background: $light-orange-color;
        }

        h1 {
            font-size: 3rem;
            text-transform: uppercase;
        }

        h2 {
            font-size: 1.8rem;
        }

        h3 {
            font-size: 1.5rem;
        }

        li, a {
            font-size: 1.3rem;
            padding: 0 1em;
        }

    }

}

/* ---------- OTHER ---------- */

.center {
    text-align:center;
}

/* ---------- MEDIA QUERIES ---------- */

@media screen and (max-width: 992px) {
    .carousel-title, .news-title, .news-title-section, .pages-titles {
        font-size: 2.3em;
    }

}