@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;700&display=swap');

/* ---------- ASSETS ---------- */

:root {
    --color-white: #F0ECEB;
    --color-yellow: #F3E0AE;
    --color-brown: #E6AE40;
    --color-brown-light: rgba(230, 174, 64, 0.7);
    --color-orange: #DC6A26;
    --color-orange-light: rgba(220, 106, 38, 0.7);
    --color-black: #000000;
}

.cta {
    display: inline-block;
    width: fit-content;
    padding: 0.75em 1.5em;
    border-radius: .4em;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    background: var(--color-brown);
    color: var(--color-black);
    border: 1px solid var(--color-white);
}

.cta:hover {
    background: var(--color-brown-light);
    color: var(--color-black);
    border: 1px solid var(--color-white);
    text-decoration: none;
}

.link-gina {
    font-weight: 500;
    color: var(--color-black);
    text-decoration: none;
    padding: 0 1em;
}

.navbar-nav a.here,
.navbar-nav a:hover {
    background: rgba(243, 203, 123, 0.7);
}

.navbar-nav li:first-of-type a.active,
.navbar-nav li:first-of-type a:hover {
    background: none;
}

.active {
    background: rgba(243, 203, 123, 0.7);
}

.active-index {
    background: none;
}

/* ---------- RESET ---------- */

* {
    margin: 0;
    padding: 0;
    color: inherit;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    color: var(--color-black);
}

html {
    font-size: 1em;
    font-family: 'Cabin', sans-serif;
}

header {
    background: var(--color-brown-light);
}

body {
    position: relative;
    min-height: 100vh;
    background: var(--color-white);
}

footer {
    background: var(--color-orange-light);
}

h1 {
    font-size: 3rem;
    text-transform: uppercase;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.5rem;
}

p, li, a {
    font-size: 1.3rem;
    padding: 0 1em;
}

/* ---------- HEADER ---------- */

header {
    padding: 0.6em 0.6em;
    grid-area: header;
}

.logo-header {
    width: 100%;
    max-width: 100px;
    max-height: 84px;
}

.navbar-nav .nav-link {
    color: var(--color-black);
}

/* ---------- FOOTER ---------- */

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.6em 0.6em;
    grid-area: footer;
}

footer section {
    padding: 1em 0;
}

footer img {
    width: 100%;
    max-width: 180px;
    height: auto;
}

.social-media-title,
.footer-menu {
    text-align: center;
}

.social-media-link {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.social-media-link li {
    margin: 0.8em 0;
}

.icon-footer {
    font-size: 1.8em;
}

.icon-footer:hover {
    background: var(--color-orange-light);
    color: var(--color-black);
    border: 1px solid var(--color-white);
}

/* ---------- GRID ---------- */

.container-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
        "header header"
        "title title"
        "main main"
        "main main"
        "footer footer";
}

.us-main {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
        "title title"
        "first-row first-row"
        "second-row second-row";
}

.us-title {
    grid-area: title;
    display: flex;
    justify-content: center;
}

.us-first-row {
    grid-area: first-row;
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.us-second-row {
    grid-area: second-row;
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.us-text-left {
    max-width: 50%;
    text-align: justify;
}

.img-right {
    max-width: 50%;
}

.img-left {
    max-width: 50%;
}

.us-text-right {
    max-width: 50%;
    text-align: justify;
}

/* ---------- HERO ---------- */

.hero {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 0;
}

.hero-text {
    position: absolute;
    object-fit: cover;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    height: auto;
    padding: 20px;
    margin: 0 0 31px 0;
}

.hero img {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---------- INDEX | NOVEDADES ---------- */

section h2 {
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
}

section.news {
    text-align: center;
}

section.news .news-img {
    margin: 0 1em;
}

section.news img {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .cta-news {
    border-style: solid;
    margin: 0.8em 0 0.8em 0;
}

/* ---------- INDEX | MÁS PRODUCTOS ---------- */

.container-products {
    margin: 0 0 1em 0;
}

.products {
    border: 1px;
    margin: 0 0.4em;
    transition: 0.3s;
}

.products img {
    width: 100%;
    max-width: 250px;
    height: auto;
    margin: 1em 0 0 0;
}

.txt-products {
    text-align: center;
}

.title-products {
    text-align: center;
    text-transform: uppercase;
    padding: 0.5em 0;
    margin: 0 0;
}

.txt-products a {
    font-size: 1rem;
    margin: 0.5em 0 0.5em 0;
}

/* ---------- OTHER ---------- */

.txt-products h2 {
    text-align: center;
    text-transform: uppercase;
    padding: 0.5em 0;
    font-size: 1.6rem;
}

.pages-titles {
    margin: 1.5em 0;
}

.info-subtitles {
    margin: 1em 0;
    font-size: 1.5em;
}

.paragraph {
    margin: 0 0 0.8em 0;
    text-align: center;
    text-justify: inter-word;
}

.long-text {
    margin: 0 12em 0 12em;
}

.img-news-section img {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5em 0 0 0;
    padding: 0 1em;
}

.news-title-section {
    margin: 0.5em 0;
}

.form {
    margin: 0 20em;
}

.contact-button {
    margin-bottom: 1.5em;
}

.center {
    text-align:center;
}

.left {
    text-align:left;
}

.right {
    text-align:right;
}